* , ::before , ::after{
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 0;
}

.main{
    background-color: #2C3E50;
    min-height: 200px;
    
}

.item {
    color: white;
}

.tail{
    background-color: #1A252F;
    width: 100%;
    z-index: 99;
    height: 7vh;
}




.circle{
    width: 55px;
    height: 55px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle i {
    font-size: 25px;
    color: white;
}

.tail{
    min-height: 60px;
}
