<Section>
    <div class="bg-contact d-flex flex-column flex-wrap justify-content-start  align-items-center pt-5">

        <div class="container">

            <div class="title text-center ">
                <h1 class="text-uppercase ">Contact</h1>
                <p class="mt-3" > <i class="fa-brands fa-angular"></i></p> 
            </div>


            <div class="container-small">
                <form>
                    <div class="mb-1">
                      <label for="userName" class="form-label"></label>
                      <input type="text" class="form-control-plaintext py-4 " id="userName" placeholder="userName">
                    </div>
                    <div class="mb-1">
                      <label for="userAge" class="form-label"></label>
                      <input type="text" class="form-control-plaintext py-4 " id="userAge" placeholder="userAge">
                    </div>
                    <div class="mb-1">
                      <label for="userEmail" class="form-label"></label>
                      <input type="email" class="form-control-plaintext py-4 " id="userEmail" placeholder="userEmail">
                    </div>
                    <div class="mb-1">
                      <label for="userPassword" class="form-label"></label>
                      <input type="password" class="form-control-plaintext py-4 " id="userPassword" placeholder="userPassword">
                    
                    </div>
        
                    <button type="submit" class="btn btn-primary mt-3 mb-5">Send Messege</button>
                  </form>

            </div>
        </div>

    </div>
</Section>
