<div class="container-fluid nav-bg fixed-top">
    <nav class="navbar navbar-expand-lg nav-bg navbar-dark p-4 ">
        <div class="container">
          
          <a class="navbar-brand nav-f text-uppercase" routerLink="home">Angular</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
              
              <li class="nav-item nav-f2">
                <a class="nav-link text-center " routerLink="about" routerLinkActive="line" >About</a>
              </li>
              <li class="nav-item nav-f2">
                <a class="nav-link text-center" routerLink="portfolio" routerLinkActive="line" >Portfolio</a>
              </li>
              <li class="nav-item nav-f2">
                <a class="nav-link text-center" routerLink="contact" routerLinkActive="line">Contact</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
