




<section class="bg-home  d-flex flex-column flex-wrap justify-content-center  align-items-center pt-5">
    <div class="container ">
      <div class="content my-5">
        
         <div class=" text-center mt-5">
           <div class="row">
            <div class="col-sm-12">
               <img src="/imgs/avataaars.svg" class=""  width="30%" alt="">
            </div>
           </div>
           
         <div class=" desc text-center  mt-3 ">
            <h1 class="">Start Framework</h1>
           <p> <i class="fa-brands fa-angular"></i></p> 
         </div>
         <p class="text-white fs-4">Graphic Artist - Web Designer - Illustrator</p>
         </div>
      </div>
     </div>
</section>




